{% extends "base.html" %}
{% block title %}Series detail{% endblock %}

{% block header %}
<!-- https://grid.layoutit.com/ -->
<link rel="stylesheet" href="/css/default.css?v=1.0">
<style>
    .container, a {
        color: white;
        text-align: center;
    }
    #episodes_table th, #episodes_table td{
        color: white;
    }
</style>
{% endblock %}
{% block content %}
    <div id="error"></div>
    <table id="season"></table>

<div class="container">
  <div class="name"></div>
  <div class="details"></div>
  <div class="external"></div>
  <div class="seasons">
    <table id="episodes_table"></table>
  </div>
</div>

    <script type="module">
        function create_div(text) {
            const newDiv = document.createElement("div");
            const newContent = document.createTextNode(text);
            newDiv.appendChild(newContent);
            return newDiv;
        }

        function populate_episodes_table(episodes, table) {
            const head = table.createTHead();
            const row = head.insertRow();
            row.insertCell().innerHTML = "Season";
            row.insertCell().innerHTML = "Episode";
            row.insertCell().innerHTML = "Title";
            row.insertCell().innerHTML = "Airdate";

            episodes.forEach(ep => {
                    const row = table.insertRow();
                    row.insertCell().innerHTML = `${ep.season}`;
                    row.insertCell().innerHTML = `${ep.number}`;
                    row.insertCell().innerHTML = `${ep.name}`;
                    row.insertCell().innerHTML = `${ep.airstamp}`;
            });
        }

        function popuplate_exernal_site(external_sites, dst) {
            external_sites.forEach(i => {
                const site_id = i.name;
                const show_ref = i.value;
                let extstr =`${site_id}: ${show_ref}`
                switch(site_id) {
                    case 'tvmaze':
                        extstr = `<a href="https://www.tvmaze.com/shows/${show_ref}" target="_blank">${site_id}</a>`;
                        break;
                    case 'imdb':
                        extstr = `<a href="https://www.imdb.com/title/${show_ref}" target="_blank">${site_id}</a>`;
                        break;
                    case 'thetvdb':
                        extstr = `<a href="https://www.thetvdb.com/dereferrer/series/${show_ref}" target="_blank">${site_id}</a>`;
                        break;
                    default:
                        break;
                }
                let div = create_div('')
                div.innerHTML = extstr
                dst.appendChild(div)
        })}

        function display(data) {
            document.getElementsByClassName("name")[0].innerHTML = `${data.name}`;
            document.getElementsByClassName("details")[0].innerHTML = `${data.premiered} - ${data.ended} </br>seasons: ${data.season_count}`;

            popuplate_exernal_site(data.external_sites, document.getElementsByClassName("external")[0])
            populate_episodes_table(data.episodes,  document.getElementById("episodes_table"))
        }

        fetch(`/api/series/{{id}}`)
        .then(res => res.json())
        .then(data => display(data))
        .catch(err => {
            const error_div = document.getElementById("error");
            error_div.innerHTML = err.message;
            console.log(err.message)
        });
    </script>
{% endblock %}
