{% extends "base.html" %}
{% block title %}Series detail{% endblock %}

{% block header %}
<!-- https://grid.layoutit.com/ -->
<link rel="stylesheet" href="/css/default.css?v=1.0">
<style>
    .container, a {
        color: white;
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
    <div id="error"></div>
    <table id="season"></table>

<div class="container">
  <div class="name"></div>
  <div class="details"></div>
  <div class="external"></div>
  <div class="seasons">
    <table id="seasons_table"></table>
  </div>
</div>

    <script type="module">
        function create_div(text) {
            const newDiv = document.createElement("div");
            const newContent = document.createTextNode(text);
            newDiv.appendChild(newContent);
            return newDiv;
        }

        function populate_seasions_table(seasons, table) {
            const head = table.createTHead();
            const row = head.insertRow();
            row.insertCell().innerHTML = "Season";
            row.insertCell().innerHTML = "Episode";
            row.insertCell().innerHTML = "Title";
            row.insertCell().innerHTML = "Airdate";
            for (const season of Object.entries(seasons)) {
                for (const episode of Object.entries(season[1])) {
                    const ep = episode[1]
                    const row = table.insertRow();
                    row.insertCell().innerHTML = `${season[0]}`;
                    row.insertCell().innerHTML = `${ep['number']}`;
                    row.insertCell().innerHTML = `${ep['name']}`;
                    row.insertCell().innerHTML = `${ep['airstamp']}`;
                }
            }
        }

        function display(data) {
            document.getElementsByClassName("name")[0].innerHTML = `${data.name}`;
            document.getElementsByClassName("details")[0].innerHTML = `${data.premiered} - ${data.ended} </br>seasons: ${data.season_count}`;

            let external_sites = document.getElementsByClassName("external")[0];
            for (const i of Object.entries(data.external_sites)) {
                const site_id = i[0];
                const show_ref = i[1];
                let extstr =`${site_id}: ${show_ref}`
                switch(site_id) {
                    case 'tvmaze':
                        extstr = `<a href="https://www.tvmaze.com/shows/${show_ref}" target="_blank">${site_id}</a>`;
                        break;
                    case 'imdb':
                        extstr = `<a href="https://www.imdb.com/title/${show_ref}" target="_blank">${site_id}</a>`;
                        break;
                    case 'thetvdb':
                        extstr = `<a href="https://www.thetvdb.com/dereferrer/series/${show_ref}" target="_blank">${site_id}</a>`;
                        break;
                    default:
                        break;
                }
                let div = create_div('')
                div.innerHTML = extstr
                external_sites.appendChild(div)
            }


            populate_seasions_table(data.episodes,  document.getElementById("seasons_table"))
        }

        fetch(`/api/series/{{id}}`)
        .then(res => res.json())
        .then(data => display(data))
        .catch(err => {
            const error_div = document.getElementById("error");
            error_div.innerHTML = err.message;
            console.log(err.message)
        });
    </script>
{% endblock %}
